* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* AGGIUNGERE BOX SHADOW SOTTO */
header {
  margin: 0 auto;
  background-color: #ff6900;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: ;
}

.container {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: auto;
}

header .container {
  justify-content: space-between;
  align-items: center;
}

.container, header ul, header li {
  display: flex;
}

header img {
  height: 50%;
  vertical-align: middle;
}

header li {
  list-style: none;
  padding-right: 8px;

}
header a {
  text-decoration: none;
  color: #fff6f0;
}

header ul.menu li {
  font-weight: bold;
}

main .container {
  margin-top: 30px;
}

 main .card {
  position: relative;
 }

 main .article {
  width: 300px;
 }

 main .article img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 }

 main .card .heart {
  display: block;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  color: #010000;
  position: absolute;
  top: 10px;
  right: 0;
  text-align: center;
  line-height: 30px;

 }









